<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body>
    <nav class="navbar fixed-top">
            <img src="../static/Images/menu.png" onclick="alert('Estamos em manutenção e algumas funções ainda não estão disponíveis e essa é uma delas!')">
    </nav>

   
    <div id="idPginicial" class="container">
        <h1 class="txtnome">Gabriel Rocha</h1>
        <p class="txtnv3">Brasil, Mossoró-Rn - gabrielcontat157@gmail.com</p>
        <p class="txtnv4" style="margin-top: 100px;">Graduando em Ciência da Computação e Ex Bolsista no Projeto Ensino de Programação e Robótica com Arduino(EPRA).</p>
        
        <div class="btn-icon">
            <a href="https://www.github.com/g4br13lr0ch4" target="_blank"><img src="../static/Images/github-logo.png"></a>
        </div>
        <div class="btn-icon">
            <a href="http://g4br13lr0ch4.pythonanywhere.com/" target="_blank"><img src="../static/Images/pc_icone.png "></a>
        </div>
        <div class="btn-icon">
            <a href="https://t.me/g4br13lr0ch4" target="_blank"><img src="../static/Images/telegram_icone.png "></a>
        </div>
    </div>

    <div id="idPgexp" class="container">
        <p class="txtnv1">Experiências:</p>
        <div style="margin: 20px 0 0 50px;">
            <p class="txtnv2" >Desenvolvedor Web.</p>
            <p class="txtnv4">
            EPRA- Ensino de Programação e Robótica com Arduino.<br>
            Abril 2020 - Março 2021</p>
        </div>
    </div>

    <div id="idPgedu" class="container">
        <p class="txtnv1">Educação:</p>
        <div style="margin: 20px 0 0 50px;">
            <p class="txtnv2">Ciência da Computação - UFC</p>
            <p class="txtnv4">Cursando (2019-2023)</p>
        </div>
    </div>

    <div id="idPgskills" class="container">
        <p class="txtnv1">Skills:</p>
        <img src="../static/Images/htmlicon.png " class="icon">
        <img src="../static/Images/cssicon.png " class="icon">
        <img src="../static/Images/jsicon.png " class="icon">
        <img src="../static/Images/bootstrap icon.png " class="icon">
        <img src="../static/Images/pythonicon.png " class="icon">
        <img src="../static/Images/django-icon-0.jpg " class="icon">
        <img src="../static/Images/giticon.png " class="icon">
        <img src="../static/Images/github-logo.png " class="icon">
        <img src="../static/Images/figma icon.png " class="icon">

    </div>

    <footer class="">
        <div  class="text-center txtnv3">
            <p>@2021</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>
